<div fxLayout="column" fxLayoutAlign="center center">
    <form>
        <mat-form-field appearance="fill">
            <mat-label>User Name</mat-label>
            <input matInput [formControl]="unameFormControl" [errorStateMatcher]="matcher" required>
            <mat-error *ngIf="unameFormControl.hasError('required')">
                Username is <strong>required</strong>
            </mat-error>
        </mat-form-field><br />



        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com" required>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field><br />

        <mat-radio-group formControlName="gender">
            <mat-label>Gender</mat-label> <br />
            <mat-radio-button value="1">Male</mat-radio-button> &nbsp;
            <mat-radio-button value="2">Female</mat-radio-button> &nbsp;
            <mat-radio-button value="3">Other</mat-radio-button>
        </mat-radio-group>
        <br /> <br />

        <!-- doubt -->

        <mat-label>Status</mat-label> &nbsp;
        <section class="example-section">
            <mat-checkbox [formControl]="checkboxFormControl" class="example-margin" [(ngModel)]="check">Checked
            </mat-checkbox> &nbsp;
            <mat-checkbox [formControl]="checkboxFormControl" class="example-margin" [(ngModel)]="check">Indeterminate
            </mat-checkbox>
        </section>

        <br><br>





        <button type="submit" mat-raised-button color="primary">Submit</button> &nbsp;&nbsp;
        <button mat-raised-button color="warn" (click)="close()">Close</button>

    </form>





</div>